<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.adminservice.mapper.AdminMapper">

    <select id="countCompanies" resultType="int">
        SELECT COUNT(*) FROM company
    </select>

    <select id="countJobSeekers" resultType="int">
        SELECT COUNT(*) FROM job_seeker
    </select>

    <select id="countJobPosts" resultType="int">
        SELECT COUNT(*) FROM job_post
    </select>

    <select id="countTotalApplications" resultType="int">
        SELECT COUNT(*) FROM job_application
    </select>

</mapper>
